<div class="row">

  <div class="col-md-8">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Question</h3>
      </div>
      <div class="panel-body">
        <p style="font-size:1.5em;">{{ question.title }}</p>
        <p *ngIf="question.multipleChoicesAllowed">(Plusieurs réponses possibles.)</p>
      </div>
      <div class="list-group">
        <a class="list-group-item"
           *ngFor="let choice of question.choices"
           (click)="clickChoice(choice)"
           [class.active]="isChoiceSelected(choice)">
          <h4 class="list-group-item-heading">{{ choice.text }}</h4>
        </a>
        <div class="list-group-item" *ngIf="isSubmitted && !answer.isCorrect">
          La bonne réponse était : {{ question.getCorrectChoices() }}.
          <span *ngIf="question.explanation">({{ question.explanation }})</span>
        </div>
        <div class="list-group-item pull-right">
          <button class="btn btn-lg" [disabled]="!isAnswered || isSubmitted" [ngClass]="submitBtnClass" (click)="submitAnswer()">
            {{ submitBtnLabel }}
          </button>
        </div>
      </div>
    </div>

  </div>

</div>
